.button {
  border: none;
  background: none;
  color: $base-colour;
  padding: 8px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $light-grey;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  outline: none;

  &_dark {
      background-color: $base-colour;
      color: $white;
  }
}
